<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <link href="{{ url_for('static',filename='css/cotg-styles.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome</h1>
<h2>Choose an option below</h2>
<form action="" method="post">
    <p>

    <p>
        <button onclick="location.href='{{ url_for('add') }}'" type="button" class="button">
            Add
        </button>
        <button class="button" onclick="location.href='{{ url_for('list_all') }}'" type="button">
            List
        </button>

        <button onclick="location.href='{{ url_for('online') }}'; $('#loading').show();" type="button" class="button">
            Online
        </button>
           <button onclick="location.href='{{ url_for('remove') }}'" type="button" class="button">
            Remove
        </button>
    </p>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

</form>
<div id="loading" style="display:none;"><img alt="" src="../assets/test.gif"/></div>

</body>
</html>