<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <link href="{{ url_for('static',filename='css/cotg-styles.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Check</title>
</head>
<body>
<h1>Online Page</h1>
<h2>Shows a list of online pages</h2>
<form>
    <p>
    <p>
        <button onclick="location.href='{{ url_for('add') }}'" type="button">
            Add
        </button>
    </p>
    <p>
        <button onclick="location.href='{{ url_for('home') }}'" type="button">
            Home
        </button>
    </p>
    <p>
        <button onclick="location.href='{{ url_for('list_all') }}'" type="button">
            List
        </button>
    </p>

    {% for item in data %}
    <p> {{ item }} </p>
    {% endfor %}
</form>
<div id="loading" style="display:none;"><img alt="" src="../assets/test.gif"/></div>

</body>
</html>